.nav-bar {
  float: left;
  height: calc(100% - 68px);
}
.footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: #f0f2f5;
  height: 60px;
}
.footer-logo {
  height: 35px;
  float: right;
}
