<div class="">
  <div class="farmer-container">
    <div class="row align-items-center farmer-div">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="row col-md-3">
        <img src="/assets/images/kfplogo.png"  class="logo" style="height: 100px;" />
    </div>
        <div class="row col-md-10 mt-4">
          <span class="title">
            A SAFE TO EAT AND ORGANIC FOOD PLATFORM BY THE KERALA GOVERNMENT
          </span>
        </div>
        <div class="row mt-4">
          <div class="col-md-5">
            <span class="kfp-text">
              To give impetus to homegrown 'safe to eat' and organic food by
              reducing the cost of production and improving the price. Kerala
              govt is offering a platform to support and nurture growers of
              healthy local food grown using safe to eat agronomic practises.
            </span>
          </div>
          <div class="col-md-1">
</div>
          <div class="col-md-6">
            <div>
              <div class="snippet-header">
                The Palliyakal Story
              </div>
              <div class="snippet-body">
                <p>
                  Safe to Eat Kerala platform story kicks off from Palliyakal
                  Service Cooperative Bank in Ernakulam District. The
                  Cooperative is...
                </p>
                <br />
                <a>
                  <span class="read-more">READ MORE ></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8">
          <p class="verify-header">Verified Farmers and Verified Farm</p>
          <span class="verify-body">
            Farmers on the platform are real and verified through multi-layered
            security process
          </span>
          <ul>
            <li>Aadhar linked profiles</li>
            <li>Farms verified by local agriculture officer</li>
            <li>Community based organic certifications</li>
          </ul>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <img src="/assets/images/Mobile.png" style="height: 300px;" />
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row third">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4" style="text-align: center;">
          <img src="/assets/images/Mobile.png" style="height: 300px;" />
        </div>
        <div class="col-md-8">
          <p class="monitor-header">
            Closely Monitored and Community Verified Farming Information
          </p>
          <span>
            All information about the inputs and supplies are captured.
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row fourth">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="quality-header">Highly Effective Qulaity Control Mechanisms</p>
      <span class="quality-body">
        <ul>
          <li>Peer Reviews</li>
          <li>Agriculture Officer Inspections</li>
          <li>Community Guarantee</li>
        </ul>
      </span>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row fifth">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-7">
          <p class="monitor-header">Food Traceability across the value Chain</p>
          <span class="verify-body">
            From producer to aggregator to end customer there is a chain of
            information linking the food on your plate to its source.
          </span>
        </div>
        <div class="col-md-5">
          <img src="/assets/images/Egg-carton.png" style="height: 300px;" />
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row sixth">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <p class="objective-header">Core Objectives of the Food Platform</p>
      </div>
      <div class="row">
        <div class="col-md-4">
            <p class="objective-bold">
                A shift towards more safe and healthy food production and
            consumption in Kerala
          </p>
          <p>
            The primary objective of the platform is to ensure the production
            and consumption of more safe and healthy organic agriculture produce
            in the State. The Food Platform aims to bring a mechanism to verify
            the food quality and traceability through a data driven approach.
            The platform shows us who is producing what? Where it is being
            produced and how it is produced from seed to market.
          </p>
        </div>
        <div class="col-md-4">
          <p class="objective-bold">
            A shift towards more safe and healthy food production and
            consumption in Kerala
          </p>
          <p>
            The primary objective of the platform is to ensure the production
            and consumption of more safe and healthy organic agriculture produce
            in the State. The Food Platform aims to bring a mechanism to verify
            the food quality and traceability through a data driven approach.
            The platform shows us who is producing what? Where it is being
            produced and how it is produced from seed to market.
          </p>
        </div>
        <div class="col-md-4">
            <p class="objective-bold">
                A shift towards more safe and healthy food production and
            consumption in Kerala
          </p>
          <p>
            The primary objective of the platform is to ensure the production
            and consumption of more safe and healthy organic agriculture produce
            in the State. The Food Platform aims to bring a mechanism to verify
            the food quality and traceability through a data driven approach.
            The platform shows us who is producing what? Where it is being
            produced and how it is produced from seed to market.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<p-dialog [(visible)]="display" [dismissableMask]="false" overlay="true" [modal]="true" [responsive]="true"
 [closeOnEscape]="true" [closable]="true" [style]="{width: '55vw'}">
  <ng-template pTemplate="header" >
      <div class="p-col-12">
        <div class="p-grid">
          <div class="p-col-12 header" style="height: 55px;" >
            <span class="main-header" style="font-size: 25px;padding: 16px 24px;">ORGANIC</span>
          </div>
          </div>
          </div>
  </ng-template>
  <div class="p-col-12 content-container">
      <div class="row mt-3">
          <div class="col-md-8 col-sm-4">
<div  style="font-size: 45px;">
    {{farmerDetails[0].shgType}}
</div>
<div class="row" style="padding: 20px 0;">
    <div class="col-md-8 col-sm-3 left-data" >Your product was produced from the group of farmers 
    </div>
    <div class="col-md-4 col-sm-3 details" >
        <span *ngFor="let farmer of farmerNameList; let last = last">{{farmer }} <span *ngIf="!last">,</span></span>
    </div>
    <div class="col-md-8 left-data mt-3" >Who belongs to SHG Area </div>
    <div class="col-md-4 details mt-3">
        <span *ngFor="let shgarea of shgAreaList; let last = last">{{shgarea }} <span *ngIf="!last">,</span></span>
    </div>
    <div class="col-md-8 left-data mt-3" >Who produces</div>
    <div class="col-md-4 details mt-3">    <span *ngFor="let product of productList; let last = last">{{product }} <span *ngIf="!last">,</span></span>
    </div>
    <div class="col-md-8 mt-3 left-data">Packed On </div>
    <div class="col-md-4 mt-3 details">{{farmerDetails[0].date |date:'dd/MM/yyyy'}}</div>
</div>
          </div>
          <div class="col-md-4 col-sm-2">
              <img src="/assets/images/Hen.jpg"  style="height: 150px;"/>
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-4">
            <img src="data:image/jpeg;base64,{{farmerDetails[0].qrCode}}" style="height:80px;"/>
        </div>
        <div class="col-md-8 mt-5">
            <img src="/assets/images/plogo.png" style="height: 50px;
            float: right;"/>
          </div>
          </div>
    </div>
  <p-footer>
  
  </p-footer>
</p-dialog>
