.login-container {
    width: 379.51px;
    height: 453.77px;
    background: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    position: absolute;
    top: calc(50% - 453.77px / 2);
    right: 15%;
  
    @media only screen and (max-width: 600px) {
      width: 320px;
      right: calc(50% - 320px / 2);
    }
  }
  .textstyle {
    background: #ffffff;
    mix-blend-mode: normal;
    box-shadow: inset 2px 2px 2px rgb(0 0 0 / 25%);
    border-radius: 6px;
  }
  .p-button {
    border: 1px solid #2a9602;
    background: #2a9602;
    mix-blend-mode: normal;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  .p-button:enabled:hover {
    background: #2a9602;
    border-color: #2a9602;
  }
  .header {
    width: 379.51px;
    height: 62px;
    background: linear-gradient(273.1deg, #5b5b5b 4.73%, #9c9c9c 107.17%);
    //font-family: Roboto;
    font-style: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
  
    @media only screen and (max-width: 600px) {
      width: 320px;
    }
  }
  
  .content {
    margin: auto;
    margin-top: 12%;
    width: 75%;
  }
  
  .icon {
    color: grey;
    cursor: pointer;
  }
  
  .rememberme {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }
  
  .submit {
    margin-top: 15%;
    border-radius: 0px;
    width: 100%;
  }
  .background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/login-background.svg");
  }
  @media (max-width: 1600px) {
    .login-container {
      zoom: 90%;
    }
  }
  
  @media (max-width: 1400px) {
    .login-container {
      zoom: 85%;
    }
  }
  
  @media (max-width: 1280px) {
    .login-container {
      zoom: 80%;
    }
  }