<p-toast [baseZIndex]="1030" position="top-right"></p-toast>

<div class="background">
<div class="p-grid login-container">
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-12 header">
          <span class="main-header">Reset Password</span>
        </div>
        <div class="p-col-12 content-container">
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
             
            <div class="p-fluid content">
              <div class="p-field" style="padding-bottom: 20px">
                <label for="username1">Email</label>
                <span class="p-input-icon-right">
                  <i class="pi pi-user"></i>
                  <input
                    class="textstyle"
                    formControlName="username"
                    oninput="this.value = this.value.toLowerCase()"
                    type="text"
                    pInputText
                    (keydown)="onChange()"
                  />
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    (resetFormControl.username.touched || submitted) &&
                    resetFormControl.username.errors?.required
                  "
                >
                  Email is required
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                  resetFormControl.username.touched &&
                  resetFormControl.username.errors?.email
                  "
                >
                  Enter a valid email address
                </span>
              </div>
                <div class="p-field" style="padding-bottom: 30px">
                    <label for="username1">Password</label>
                    <span class="p-input-icon-right">
                      <i *ngIf="!hide" class="pi pi-eye" (click)="hide = !hide"></i>
                      <i
                        *ngIf="hide"
                        class="pi pi-eye-slash"
                        (click)="hide = !hide"
                      ></i>
                      <input
                        formControlName="password"
                        class="input-text textstyle"
                        [type]="hide ? 'password' : 'text'"
                        pInputText
                        (keydown)="onChange()"
                      />
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="
                        (resetFormControl.password.touched || submitted) &&
                        resetFormControl.password.errors?.required
                      "
                    >
                      Password is required
                    </span>
                  </div>
              <div class="p-field" style="padding-bottom: 30px">
                <label for="username1">Confirm Password</label>
                <span class="p-input-icon-right">
                  <i *ngIf="!hide" class="pi pi-eye" (click)="hide = !hide"></i>
                  <i
                    *ngIf="hide"
                    class="pi pi-eye-slash"
                    (click)="hide = !hide"
                  ></i>
                  <input
                    formControlName="confirmPassword"
                    class="input-text textstyle"
                    type="text"
                    pInputText
                    (keydown)="onChange()"
                  />
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    (resetFormControl.confirmPassword.touched || submitted) &&
                    resetFormControl.confirmPassword.errors?.required
                  "
                >
                  Confirm Password is required
                </span>
                <div
                class="text-danger"
                *ngIf="resetForm.get('confirmPassword').errors?.confirmPasswordValidator"
              >
              Passwords do not match
            </div>
              </div>
              <div class="p-field" style="padding-bottom: 20px">
                <button
                  pButton
                  label="Submit"
                  type="submit"
                  class="p-button-raised p-button-rounded"
                ></button>
              </div>
              <div *ngIf="error !== ''" class="p-field error">
                <span class="text-danger">{{ error }}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>